@import url('https://fonts.googleapis.com/css?family=Lato&display=swap:100, 200, 300, 400, 500, 600, 700');
.uppercase {
    text-transform: uppercase;
}

/*-------------header*/

header {
    float: left;
    width: 100%;
    overflow: auto;
}

.active {
    font-size: 30px;
}

.navbar {
    float: left;
    background-color: #030d2b;

}

.navbar a {

    padding: 15px;
    color: #fac105;
    text-decoration: none;
    font-family: 'Lato', sans-serif;
}

.navbar a i {
    width: 60px;
    height: 60px;
    padding: 24px 0;
    font-size: 24px;
    line-height: 14px;
    border-radius: 50%;
    color: #030d2b;
    background: #fac105;
    text-align: center;
    transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
}


.navbar a i:hover {
    color: #fac105;
    background: #030d2b;
}

/*-------------footer*/

footer {
    font-family: 'Lato', sans-serif;
    color: #fac105;
    background-color: #030d2b;
}

.footer-section {
    text-align: right;
    font-weight: 300;

}

.social {
    padding-top: 20px;
}

.social li a i {
    width: 60px;
    height: 60px;
    padding: 24px 0;
    font-size: 24px;
    line-height: 14px;
    border-radius: 50%;
    color: #030d2b;
    background: #fac105;
    text-align: center;
    transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
}

.social li a i:hover {
    color: #fac105;
    background: #030d2b;
}
